.class1 {
    border: 1px solid black;
}

.class2 {
    background-color: aqua;
}

.smile {
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center  ;
}

.class3 {
    border-bottom: 2px solid black;
}

.superclass {
    color: lawngreen;
}