* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(190 239 210);
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    width: 100%;
    background-color: rgb(119, 226, 191);
    display: inline-block;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.info {
    padding: 10px 0;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

#container {
    /* display: none; */
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background-image: url('./fonblue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px rgb(29 111 84);
}


.rightButton{
    position: absolute;
    width: 120px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    left: 80px;
}

#start {
    top: 160px;
}
#start:hover, #pause:hover, #rules:hover,#buttonRule:hover, #records:hover, #buttonRecords:hover {
    cursor: pointer;
    background-color: seagreen;
}
#pause {
    top: 230px;
}
#rules {
    top: 350px;
}
#records {
    top: 420px;
}

#rulesInfo {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    position: relative;
    text-align: justify;
    text-indent: 30px;
}

#rulesContainer {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px 60px 20px;
    border-radius: 20px;
    display: none;
    position: relative;

}

/* #nameContainer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 30px 0 0 0;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    display: none;
} */

#buttonRule {
    width: 120px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    background-color: rgb(119, 226, 191);
    position: absolute;
    left: 38%;
}

#recordsContainer {
    width: 50%;
    font-family: 'Lobster', cursive;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: none;
}


#tablerecords {
    width: 50%;
    font-family: 'Lobster', cursive;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
}

#recordHead {
    width: 50%;
    font-family: 'Lobster', cursive;
    margin: 0 auto;
    border-collapse: collapse;
}

#recordHead th {
    width: 50%;
    padding-bottom: 10px;
}

#buttonRecords {
    width: 150px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    background-color: rgb(119, 226, 191);
    margin: 10px;
}

.buttonRulesContainer {
    padding: 20px 0;
    text-align: center;
}

.downButton {
    width: 120px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#downContainer {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    display: none;
}

@media only all and (max-width: 930px) {
    #downContainer {
        display: block;
    }
    .rightButton {
        display: none;
    }
}

@media only all and (min-width: 930px) and (max-width: 370px) {
    .info {
        width: 50%;
    }
    #container {
        width: 350px;
    }
}