* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(169, 236, 197);
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    width: 100%;
    background-color: rgb(119, 226, 191);
    display: inline-block;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.info {
    padding: 10px 0;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

#container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-image: url('./fon3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px rgb(29 111 84);
}
.rightButton{
    position: absolute;
    width: 120px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    left: 80px;
}

#start {
    top: 290px;
}
#start:hover, #pause:hover {
    cursor: pointer;
}
#pause {
    top: 360px;
}
#rules {
    top: 220px;
}

#rulesInfo {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    position: relative;
    text-align: justify;
    text-indent: 25px;

}

#rulesContainer {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px 60px 20px;
    border-radius: 20px;
    display: none;
    position: relative;

}

#buttonRule {
    width: 120px;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    border-radius: 20px;
    background-color: rgb(119, 226, 191);
    position: absolute;
    left: 38%;
}

